html {
    font-size: 10px;
    background: url(zelda.jpg) bottom center;
    background-size: cover;
    position: fixed;
    top: 0;
    left: 0;
    min-width: 100%;
    min-height: 100%;
  }
  
  body,html {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
  }

  .container {
    display: flex;
    flex-wrap: nowrap;
    padding-top: 20px;
  }

  .instructions {
    display: flex;
    color: white;
    font-size: 20px;
    border: .4rem solid  rgb(100, 0, 0);
    border-radius: .5rem;
    width: 260px;
    text-align: center;
    padding: 4px;
    margin: auto;
    background-color: rgba(0,0,0,0.6);
  }

  .container > div {
    display: flex;
    background-color: rgba(0,0,0,0.6);
    font-size: 40px;
    color: white;
    display: inline-block;
    flex-direction: column;
    align-items: center;
    border: .4rem solid rgb(100, 0, 0);
    border-radius: .5rem;
    padding: 4px;
    text-align: center;
    margin: auto;
    opacity: 100%;
    max-width: 600px;

  }

  
  .flex-container1 {
    display: flex;
    max-width: 99vh;
    align-items: center;
    justify-content: space-around;
    margin: auto;
    flex-wrap: nowrap;
  }

  .flex-container2 {
    display: flex;
    flex: 1;
    max-width: 99vh;
    align-items: center;
    justify-content: space-around;
    margin: auto;
    flex-wrap: nowrap;
  }

  .flex-container3 {
    display: flex;
    max-width: 99vh;
    align-items: center;
    justify-content: space-around;
    margin: auto;
    flex-wrap: nowrap;
  }

  .key {
    border: .4rem solid rgb(100, 0, 0);
    border-radius: .5rem;
    margin: 3rem;
    font-size: 4rem;
    padding: 3rem 3rem;
    transition: all .02s ease;
    width: 7rem;
    text-align: center;
    color: white;
    background: rgba(0,0,0,0.6);
    text-shadow: 0 0 .5rem black;
    flex-shrink: 3;
  }
  
  .playing {
    transform: scale(1.07);
    border-color: #01afe4;
    box-shadow: 0 0 1rem #16d9e7;
  }
  
  kbd {
    display: block;
    font-size: 4rem;
  }
  
  .sound {
    font-size: 1.3rem;
    text-transform: uppercase;
    letter-spacing: .1rem;
    color: #ffc600;
    }

  .containerkb {
    display: flex;
    justify-content: center;
  }

  #keyboard { 
    width: 425px; 
    height: 20px; 
    border: 2px solid rgb(100, 0, 0); 
    padding: 5px; 
    font-size: 20px;
  }